<div class="container">
    <form>
        <div class="form-group">
            <label for="name">Nome do grupo</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="descricao">Descrição do grupo</label>
            <textarea class="form-control" id="descricao" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="busca-arvore">Árvores</label>
            <select id="busca-arvore" class="form-control selectpicker" multiple>
                <option >Mustard</option>
                <option >Ketchup</option>
                <option >Relish</option>
            </select>
        </div>
    </form>
</div>