<div class="container">
    <div class="sub-menu">
        <button class="btn btn-secondary" (click)="editGroup()">Editar</button>
        <button class="btn btn-danger" (click)="deleteGroup()">Excluir</button>
    </div>
    <app-loading *ngIf="loading.group"></app-loading>
    <app-list-item *ngIf="group" [model]="group"></app-list-item>
    <div class="row">
        <div class="col-md-6">
            <h2>Árvores</h2>
            <app-loading *ngIf="loading.trees"></app-loading>
            <app-list [items]="trees"></app-list>
        </div>
        <div class="col-md-6">
            <h2>Colheitas</h2>
            <app-loading *ngIf="loading.crops"></app-loading>
            <app-list [items]="crops"></app-list>
        </div>
    </div>
</div>