<div class="container">
    <div class="sub-menu">
        <button class="btn btn-secondary" (click)="editGroup()">Editar grupo</button>
        <button class="btn btn-danger" (click)="deleteGroup()">Excluir grupo</button>
    </div>
    <h1 *ngIf="!group">Carregando...</h1>
    <app-list-item *ngIf="group" [model]="group"></app-list-item>
    <div class="row">
        <div class="col-md-6">
            <h2>Árvores</h2>
            <app-list-item *ngFor="let tree of trees" [model]="tree"></app-list-item>
        </div>
        <div class="col-md-6">
            <h2>Colheitas</h2>
            <app-list-item *ngFor="let crop of crops" [model]="crop"></app-list-item>

        </div>
    </div>
</div>