.card {
    height: 200px;
    cursor: pointer;
}

.card:hover {
    background-color: #f9f9f9;
}

.card:active {
    background-color: #007bff;
    color: white;
}

.card img {
    display: block;
    margin: 0;
    max-width: 100%;
    height: 200px;
    width: auto;
}